* {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: #eeeeee #f7f7f7;
  /* Firefox */
}

.headerMathJsx {
  border: 1px solid black;
  background: red;
}

input[type="checkbox"]:checked {
  background-color: #00bad6;
  border-color: #00bad6;
}

input[type="checkbox"][disabled] {
  background: #f3f4f6;
  border-color: #e5e7eb;
  cursor: not-allowed;
}

.arrange_dragdrop {
  display: flex;
  gap: 6px;
  align-items: center;
}

.arrange_dragdrop .arrange_button {
  display: flex;
  border: 1px solid rgb(12, 166, 12);
  padding: 4px 16px;
  border-radius: 4px;
  cursor: pointer;
  color: rgb(12, 166, 12);
  font-weight: 600;
  align-items: center;
}

.arrange_dragdrop .arrange_button:hover {
  color: white;
  background: rgb(12, 166, 12);
  transition: 0.3s;
}