@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .overlay {
    @apply fixed inset-0 z-40 bg-black/50;
  }

  .modal-content {
    @apply fixed left-1/2 top-1/2 z-50 max-h-[85vh] w-[90vw] max-w-2xl -translate-x-1/2 -translate-y-1/2 rounded bg-white shadow-lg;
  }
}



.searchField {
  background-color: rgba(198, 211, 229, 0.08);
  border-radius: 10px;
  border: 1px solid rgb(238, 238, 238);
}

.dashboardPannel {
  border-radius: 8px;
}

.dashboardPannel:hover {
  box-shadow: 6px 6px 16px 0px rgb(231, 231, 231);
}

input::-ms-reveal {
  display: none;
}

.scrollbar {
  overflow: visible !important;
}