// $primary-color: #a61aaf;
$primary-color: #ff58f9;
$secondary-color: #00bad6;
$tertiary-color: #fab82a;
$quaternary-color: #f6dda7;

$primary-text-color: #1e1e1e;
$secondary-text-color: #5d5d5d;
$content-background-color: white;

//change color below as per need
$layout-background-color: $primary-color;
$background-color: #f4f4f4;
$danger-color: #e91e63;
$warning-color: #d8c412;
$success-color: #17ae49;
$button-background-color: white;
$disabled-color: #474747;

$card-light: #fff;
$card-color: #1e7a46;
$modal-color: #b3d3b4;
$text-color: #003c0d;
$active-color: #3c5b3b;
$events-box-color: $primary-color;
$events-card-color: #094d66;

$primary-text-color: white;
$border-color: white;
$login-color: #b3d3b4;
$input-color: gray;
$button-color: #3c5b3b;
$stopwatch-wrapper-color: #d9d9d9;
$box-shadow-color: rgba(0, 0, 0, 0.25);

//sizes
$heading: 1.3rem;

//buttons
$primary-button-color: #a7a8aa;
$secondary-button-color: #d7d9db;

$border-color: #989e9a;
