@use "../../../../assets/styles/abstract/variables" as *;

.school_edit_section {
  position: relative;
  .active {
    color: $secondary_color;
  }
}

.school_edit_sidebar {
  border-right: 1px solid rgb(190, 190, 190);
  position: fixed;
  width: 14%;
  height: 80vh;
  display: flex;
  padding-right: 2em;
  align-items: flex-start;
  @media screen and (max-width: 490px) {
  }
}
.school_edit_menu {
  width: 100%;
  font-size: 1rem;
  padding: 0px 1em;
  padding-top: 32px;
}
@media (max-width : 1120px) {
  .school_edit_menu{
    padding: 0%;
  }
}

.school_edit_menu_item_wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 24px 0px;

  .school_edit_menu_item_text {
    @media screen and (max-width: 814px) {
      display: none;
    }
  }

  // &.active {
  //   border-right: 4px solid $secondary_color;
  // }
}

.school_edit_menu_item_icon {
  margin-right: 0.8rem;
}

.school_edit_main {
  width: 75%;
  max-height: 100vh;
  margin-left: 17vw;
  margin-bottom: 2em;
}
